.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.main {
  background-color: #fff;
  padding: 40px 0;
  width: 100%;
  max-width: 800px;
}

#page-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #494949;
  margin-top: -3%;
  margin-bottom: 3%;
}

#buttonRegister {
  background: linear-gradient(45deg, #6466a4, #92a0e8);
  color: #ecf5ff;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 700;
  margin-top: 2%;
  margin-bottom: -2%;
  transition: color 0.3s;
}

#buttonRegister:hover {
  color: #fff;
}

.data-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  color: #494949;
}

.label {
  font-weight: 600;
  margin-right: 5px;
  margin-left: 10px;
  color: #494949;
}
