.footer {
  background: linear-gradient(45deg, #383f90, rgb(165, 184, 224));
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer p {
  margin: 0;
  font-size: 15px;
}
